<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
    xmlns:s="http://typo3.org/ns/ApacheSolrForTypo3/Solr/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:section name="Reset">
    <f:if condition="{resultSet.facets.used -> f:count()}">
        <f:then>
            <a href="{s:uri.facet.removeAllFacets()}" class="btn btn--link solr-ajaxified">
                Alle Filter löschen
            </a>
        </f:then>
    </f:if>
</f:section>

</html>