<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
    xmlns:s="http://typo3.org/ns/ApacheSolrForTypo3/Solr/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:section name="HeaderAssets">
    <link rel="stylesheet" href="{f:uri.resource(path: 'Css/RkwSolrsearch.css', extensionName: 'RkwSolrsearch')}"/>
</f:section>

    <div class="tx_solr container main">
        <div id="tx-solr-search-functions">
            <f:render partial="Search/Form" section="SiteSearch" arguments="{search:search, additionalFilters:additionalFilters, pluginNamespace: pluginNamespace, resultSet: resultSet}" />
        </div>
    </div>
</html>