<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:s="http://typo3.org/ns/ApacheSolrForTypo3/Solr/ViewHelpers"
      data-namespace-typo3-fluid="true"
>

<f:section name="Form">

	<div class="tx-solr-search-form">
		<s:searchForm
            id="tx-solr-search-form-pi-results"
            class="searchform flex-container center-main"
            additionalFilters="{additionalFilters}"
            suggestHeader="{s:translate(key:'suggest_header',default:'Top Results')}"
        >
            <div class="searchform__title flex-basis-12">
                <h1><f:translate key='partials_solr_search_form.searchHeader' extensionName="RkwSolrsearch"/></h1>
            </div>
            <div class="searchform__input">
                <f:for each="{existingParameters}" key="name" as="value">
                    <f:form.hidden name="{pluginNamespace}{name}" value="{value}" />
                </f:for>

				<f:if condition="{addPageAndLanguageId}">
					<input type="hidden" name="L" value="{languageUid}" />
					<input type="hidden" name="id" value="{pageUid}" />
				</f:if>

                <div class="search-field">
                    <input
                        id="search"
                        type="text"
                        class="single tx-solr-q js-solr-q tx-solr-suggest tx-solr-suggest-focus form-control"
                        name="{pluginNamespace}[q]"
                        value="{q}"
                    />
                    <span class="input-group-btn">
					<button class="btn btn--primary search-field__submit tx-solr-submit" type="submit">
						<span>
							<s:translate key="submit">Search</s:translate>
						</span>
					</button>
				</span>
                </div>

			</div>
		</s:searchForm>
	</div>

</f:section>


<f:section name="FormSmall">

    <s:searchForm
        id="tx-solr-search-form-pi-results search"
        class="searchform flex-container center-main single solr-ajaxified "
        additionalFilters="{additionalFilters}"
        suggestHeader="{s:translate(key:'suggest_header',default:'Top Results')}"
    >

        <div class="searchform__input">
            <f:for each="{existingParameters}" key="name" as="value">
                <f:form.hidden name="{pluginNamespace}{name}" value="{value}" />
            </f:for>

            <f:if condition="{addPageAndLanguageId}">
                <input type="hidden" name="L" value="{languageUid}" />
                <input type="hidden" name="id" value="{pageUid}" />
            </f:if>

            <div class="search-field">
                <input
                    id="search"
                    type="text"
                    class="single tx-solr-q js-solr-q tx-solr-suggest tx-solr-suggest-focus"
                    aria-describedby="search"
                    placeholder="{f:translate(key: 'partials_solr_search_form.searchInput.placeholder', extensionName: 'RkwSolrsearch')}"
                    name="{pluginNamespace}[q]"
                    value="{q}"
                />
                <button class="btn btn--primary search-field__submit tx-solr-submit" type="submit">
                    <svg class="icon icon--16" aria-hidden="true">
                        <use xlink:href="#ic-arrow-primary"></use>
                    </svg>
                    <span>
                        <f:translate key='partials_solr_search_form.searchInput.startSearch' extensionName="RkwSolrsearch"/>
                    </span>
                </button>
            </div>

        </div>
    </s:searchForm>

</f:section>


<f:section name="SiteSearch">

    <div class="tx-solr-search-form">
        <s:searchForm
            id="tx-solr-search-form-pi-results"
            class="searchform flex-container center-main"
            additionalFilters="{additionalFilters}"
            suggestHeader="{s:translate(key:'suggest_header', default:'Top Results')}"
        >

            <div class="searchform__input">
                <f:for each="{existingParameters}" key="name" as="value">
                    <f:form.hidden name="{pluginNamespace}{name}" value="{value}" />
                </f:for>

                <f:if condition="{addPageAndLanguageId}">
                    <input type="hidden" name="L" value="{languageUid}" />
                    <input type="hidden" name="id" value="{pageUid}" />
                </f:if>

                <div class="search-field">
                    <svg class="icon icon--64"><use xlink:href="#ic-search" /></svg>
                    <input
                        id="search"
                        type="text"
                        class="tx-solr-q js-solr-q tx-solr-suggest tx-solr-suggest-focus form-control"
                        name="{pluginNamespace}[q]"
                        value="{q}"
                        placeholder="{f:translate(key: 'partials_solr_search_form.placeholder', extensionName: 'RkwSolrsearch')}"
                    />

                    <span class="input-group-btn">
                        <button class="btn btn--primary search-field__submit-standalone tx-solr-submit" type="submit">
                            <span>
                                <s:translate key="submit">Search</s:translate>
                            </span>
                        </button>
                    </span>
                </div>

            </div>
        </s:searchForm>
    </div>

</f:section>

</html>
